<div class="page-header">
  <h1>My Trips</h1>
  <a mat-raised-button color="primary" routerLink="/trips/builder"><mat-icon>add</mat-icon> New trip</a>
</div>

<app-loading *ngIf="loading"></app-loading>

<div class="trip-list" *ngIf="!loading">
  <mat-card *ngFor="let trip of trips" class="trip-card" [routerLink]="['/trips', trip._id]">
    <div class="trip-row">
      <div>
        <h3>{{ trip.startDate | date:'mediumDate' }} &rarr; {{ trip.endDate | date:'mediumDate' }}</h3>
        <p>{{ trip.peopleCount }} people &middot; {{ trip.price }} EGP</p>
      </div>
      <mat-chip [color]="statusColor(trip.status)" selected>{{ trip.status }}</mat-chip>
    </div>
  </mat-card>

  <p *ngIf="trips.length === 0" class="empty">You haven't created any trips yet.</p>
</div>

<mat-paginator
  *ngIf="!loading"
  [length]="totalDocs"
  [pageSize]="limit"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPageChange($event)">
</mat-paginator>
